.piece {
  display: inline-block;
  box-sizing: border-box;

  height: 50px;
  width: 50px;

  border: solid 1px #000;
  background: #fff;

  &.piece-used {
    background: #ccc;
  }

  &.piece-block {
    background: #777;
  }

  &.piece-active {
    position: relative;
    z-index: 2;
  }

  .move {
    position: absolute;
    box-shadow: inset 0 0 20px 6px lightblue;

    box-sizing: border-box;
    border: solid 1px #000;
    margin: -1px 0 0 -1px;

    &.up {
      top: calc(-100% - 2px);
    }
    &.down {
      top: calc(100% + 2px);
    }
    &.left {
      left: calc(-100% - 2px);
    }
    &.right {
      left: calc(100% + 2px);
    }
  }
}

.playfield.unstarted .piece.piece-active {
  box-shadow: inset 0 0 10px 3px lightblue;
}

.playfield:not(.unstarted) .piece.piece-used.piece-active {
  background: #333;
}

.playfield.loss .piece.piece-free {
  background: #f00;
}