.playfield {
  display: inline-block;
  position: relative;
  border: solid 1px #000;

  height: calc(100vw - 10px);
  width: calc(100vw - 10px);
  max-height: 600px;
  max-width: 600px;
  font-size: 0;
}